[Unit]
Description=Notification daemon
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dunst

[Install]
WantedBy=xsession.target
WantedBy=wsession.target