# ignore everything
/*

# include git files
!.gitignore
!.gitconfig

# other files
!.todo.md
!.paclist

# include xorg files
!.xinitrc
!.Xresources
!.theme
!.walls
!.newsboat/urls

# include configs
!.weechat
!.config  # include dir
.config/* # but not the whole subtree
!.config/compton.conf
!.config/mimeapps.list
!.config/tmux.conf
!.config/alacritty
!.config/bspwm
!.config/fish
!.config/fontconfig
!.config/kak
!.config/kak-lsp
!.config/lf
!.config/mpd
!.config/ncmpcpp
!.config/polybar
!.config/zathura

# include scripts
!.bin
