# ignore everything
*

# include git files
!.gitignore
!.gitconfig
!.gitmodules

# other files
!.todo.md
!.paclist

# include xorg files
!.xinitrc
!.Xresources
!.theme
!.walls

# include config
!.config
!.config/alacritty
!.config/dunst
!.config/fish
!.config/fontconfig
!.config/hexchat
!.config/htop
!.config/kak
!.config/kak-lsp
!.config/lf
!.config/mpd
!.config/ncmpcpp
!.config/polybar
!.config/pulse
!.config/pulse/client.conf
!.config/pulse/daemon.conf
!.config/pulse/default.pa
!.config/sxhkd
!.config/tremc
!.config/zathura
!.config/compton.conf
!.config/DIR_COLORS
!.config/mimeapps.list
!.config/tmux.conf

# include scripts
!.bin
