[user]
	name = EmmChriss
	email = emmchris@protonmail.com
[core]
	editor = helix
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[filter "tabspace"]
	smudge = unexpand --tabs=4 --first-only
	clean = expand --tabs=4 --initial
[filter "tabspace2"]
	smudge = unexpand --tabs=2 --first-only
	clean = expand --tabs=2 --initial
[format]
	pretty = oneline
[pull]
	rebase = true
[rebase]
	autoStash = true
