!!! Visual entries
*font:                  xos4 Terminus

!!! Xft
Xft.dpi:                96
Xft.antialias:          false
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight
